*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Bebas Neue', sans-serif;
}


/* right side navigation bar */


.right_side_nav_wraper{
    background-color: rgb(4, 104, 171);
    border-radius: 30px;
}


.right_side_nav_wraper li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
}



.right_side_nav_wraper ul{
    margin-top:20px; 
}



.right_side_nav_wraper h6{
    margin-top: 15px;
} 


.right_side_nav_wraper .side_nav_img {
    width: 43px;
    height: 45px;
    border-radius: 63%;
    position: relative;
    top: 10px;
    border: 1px solid #b9b1c7;

}

 .right_side_nav_wraper .krishan{
    letter-spacing: 2px;
    font-family: 'Caveat', cursive;
}

/* right side navigation bar */





/* header section */

.portfolio{
    width: 150px;
  
}
.header_wraper::-webkit-scrollbar{
    display:none;
}
.header_wraper{
 
    height: 100vh;
    background-attachment: scroll;
  background-image: url(https://img.freepik.com/premium-photo/top-view-office-desk-with-computer-pencil-glasses-notebook-paper-coffee-cup_35674-153.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
    overflow:scroll;
}

.bg-body-tertiary{
    
border-radius: 50px;
}

.button button{
 
 border:1px solid rgb(46, 123, 255);
 margin-right: 15px; 
 letter-spacing: 2px;
 background-color: none;
 border-radius: 10px;
}
.logout:hover{
background-color: rgb(255, 127, 127);
color: rgb(255, 255, 255);
box-shadow: 0 0 5px rgb(17, 66, 131),0 0 25px rgb(17, 66, 131);
}




.button button:hover{
    box-shadow: 0 0 25px rgb(17, 66, 131),0 0 25px rgb(17, 66, 131), 0 0 50px rgb(17, 66, 131), 0 0 100px rgb(17, 66, 131), 0 0 200px rgb(17, 66, 131);
   padding: 8px 15px 8px 15px;
}

.header_text , span{
    font-family: 'Cinzel', serif;
}

.header_hr {
    height: 10px;
    width: 240px;
    color: rgb(0, 0, 14);
    margin: auto;
}

.btn_border a {
    border: 1px solid rgb(25, 146, 252);
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn_border a:hover{
    background-color: rgb(46, 123, 255);
    color: aliceblue;
    box-shadow: 0 0 5px rgb(17, 66, 131),0 0 25px rgb(17, 66, 131);
    width: 20px;
}



/* header section */


@media only screen and (min-width:900px){
.navbar_hide{
    display: none;
}


}

@media only screen and (max-width:890px){
    .header_wraper{
        background-image: url(https://img.freepik.com/premium-photo/blue-smoke-white-background_55716-2576.jpg);
    }
    .header_text_margin_top{
        position: relative;
        top: 60px;
    }

    .right_side_nav_wraper{
        display: none;
    }
}
    
