*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Bebas Neue', sans-serif;
}

body{
    background:url(https://img.freepik.com/premium-photo/top-view-office-desk-with-computer-pencil-glasses-notebook-paper-coffee-cup_35674-153.jpg);
  
    background-repeat: no-repeat;
    background-size: cover;
 
}
.fixed {
    position: fixed;
    width: 143px;
    right: 50px;
    bottom: -30px;
}


/* right side navigation bar */


.right_side_nav_wraper {
    background-color: rgb(20 51 203);
    border-radius: 16px;
    /* box-sizing: border-box; */
    box-shadow: 2px 2px 16px 9px black;
    height: 100vh;
}


.right_side_nav_wraper li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1px;
}



.right_side_nav_wraper ul{
    margin-top:20px; 
}



.right_side_nav_wraper h6{
    margin-top: 15px;
} 


.right_side_nav_wraper .side_nav_img {
    width: 43px;
    height: 45px;
    border-radius: 63%;
    position: relative;
    top: 10px;
    border: 1px solid #b9b1c7;

}

 .right_side_nav_wraper .krishan{
    letter-spacing: 2px;
    font-family: 'Caveat', cursive;
}

#side_li_wraper{
background-color: rgb(17, 43, 177);
}
/* #home_wraper{
    background-color: #067ab1;
} */
.copyright{
    font-size: 10px;
    letter-spacing: 2px;
    word-spacing: 1px;
}

/* right side navigation bar */




.toggle_navbar li a{
    
    border: 1px solid rgb(184, 183, 183);
    border-radius: 10px;
    background-color: rgb(47, 116, 255);
    color: antiquewhite;

}



/* header section */

.portfolio{
    width: 150px;
  
}
.header_wraper::-webkit-scrollbar{
    display:none;
}


.header_wraper{
 
    height: 100vh;
    background-attachment: scroll;
 
    overflow:scroll;
    
}



.fixed_nav{
    position:fixed;
}

.bg-body-tertiary{
    
border-radius: 50px;
}

.button button{
 

 margin-right: 15px; 
 letter-spacing: 2px;
 background-color: none;
 border-radius: 10px;
 padding: 8px 15px 8px 15px;
 background:transparent;
 color: rgb(255, 24, 24);
 border: 1px solid red;
}






.header_text , span{
    font-family: 'Cinzel', serif;
}

.header_hr {
    height: 10px;
    width: 240px;
    color: rgb(0, 0, 14);
    margin: auto;
}
.cv_btn a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
}
.cv_btn a:hover{
    color: #ffffff;
}
.cv_btn:hover{
   background-color: rgb(37 54 255);
   color: rgb(244, 249, 255);
}

.cv_btn {
    border: 1px solid rgb(37 54 255);
    padding-left: 76px;
    padding-right: 76px;
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
}
.cv_btn2{
  
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 5px;
   
    background-color:transparent;
   
    
}
.cv_btn2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}
.cv_btn2 a:hover{
    color: #ffffff;
}




/* header section */







/* second section start from here */


.second_section_middle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100px;
}

.second_section p{
    line-height: 27px;
}


.second_section button a{
    text-decoration: none;
    color: black;
   
}
.second_section button a:hover{
    color: black;
}
.second_section button{
    border: 1px solid rgb(46, 123, 255);
   
}

.second_section button:hover{
    background-color: #067ab1;
   
}

.color{
    color: blue;
    font-weight: 900;
}



.img-thumbnail {
    width: 370px;
    border-radius: 72px;
   
   
}


/* third section */


.third_section_wraper{
    background-color: #ffffff;
    border-radius: 100px;
    
}
p{
    word-spacing: 5px;
    color: #4f4d4d;
}
h4{
    word-spacing: 2px;
    letter-spacing: 3px;
}

.carousel_img{
    width: 100%;
    border-radius: 10px;
}

.img_center{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* forth section */

.fourth_sec_wraper{
    background-color: #ffffff;
    border-radius: 100px;
}
.inner_box {
    box-shadow: rgb(120, 119, 119) -15px -8px 9px -6px;
    /* border: 2px solid black; */
    padding: 30px;
    margin-left: 30px;
    word-spacing: 3px;
    background: linear-gradient(to left , #fafaff, white,#becae5);
    border-radius: 43px;
}
.inner_box1{
    background: linear-gradient(to left ,#ffffff,white,#f7d8c7);
}
.inner_box2{
    background: linear-gradient(to left ,#ffffff,white,#d1ddff);
}
.inner_box3{
    background: linear-gradient(to left ,#ffffff,white,#d3d1f7);
}
.inner_box4{
    background: linear-gradient(to left ,#ffffff,white,#ffed9b);
}
.inner_box5{
    background: linear-gradient(to left ,#ffffff,white,#ccb8ff);
}
.inner_box6{
    background: linear-gradient(to left ,#ffffff,white,#f7b8ff);
}




.contact_section_wraper{
    background-color: #ffffff;
    border-radius: 100px;
}
.bg-dark{
    border-radius: 100px;
}

.footer_wraper{
  background-color: #ffffff; 
  background: linear-gradient(to left ,#ffffff,rgb(188, 176, 255),#8ea2bb); 
  border-radius: 11px;
}

.corner{
    position: fixed;
    left: 82%;
    top: 91%;
    background:rgba(0,0,0,0.7);
    background-blend-mode: darken;
    width: 43px;
    padding: 10px;
    border-radius: 100%;
}

.whatsapp{
    position: fixed;
    left: 82%;
    top: 80%;
    background-color: rgb(33, 159, 11);
    /* width: 43px; */
    padding: 7px;
    border-radius: 100%;
}
.chat{
    
    position: fixed;
    text-decoration: none;
    left: 76%;
    top: 81%;
    background-color: rgb(69 70 69);
    /* width: 43px; */
    padding-right: 25px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 4px;
    /* border-radius: 100%; */
    color: white;
    font-size: 9px;
    border-radius: 14px;
    /* padding: 8px; */
    word-spacing: 4px;
    letter-spacing: 2px;
}
    


@media only screen and (min-width:900px){
.navbar_hide{
    display: none;
}


}

@media only screen and (max-width:890px){
    .header_wraper{
        background-image: url(https://img.freepik.com/premium-photo/blue-smoke-white-background_55716-2576.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header_text_margin_top{
        position: relative;
        top: 60px;
    }

    .right_side_nav_wraper{
        display: none;
    }
    .chat{
        display: none;
    }
   
}
    





